{% if posts|length == 0 %}
            No posts
        {% else %}
            <meta name="csrf-token" content="{{ csrf_token() }}">

            {% if not posts %}
            <div class="bottom-container">
                <p>No posts found</p>
            </div>
            {% else %}
                <div class="bottom-container">
                    {% for post_id, post_data in posts.items() %}
                        <div class="post-container">
                            <div class="left-container">
                                <div class="username-container">
                                    <div class="username-left">
                                        <a href="{{ url_for('profile', user_id=post_data.user_id) }}">
                                            <img src="{{ url_for('static', filename='uploads/default.jpg') if not post_data.profile_picture else url_for('static', filename='uploads/' + post_data.profile_picture) }}" alt="Profile Picture" class="user-profile-img">
                                        </a>
                                        <a href="{{ url_for('profile', user_id=post_data.user_id) }}">{{ post_data.username }}</a>
                                    </div>
                                    {% if post_data.user_id == current_user.id %}
                                        <div class="username-right">

                                            <form action="{{ url_for('edit_post', post_id=post_id) }}" method="POST">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                <button class="right-buttons" id="edit-button" type="submit"><i class="fas fa-edit"></i></button>
                                            </form>

                                            <button id="post-open-modal-btn" class="right-buttons" data-post-id="{{ post_id }}" type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                            
                                            <div id="post-confirmation-modal" class="modal">
                                                <div class="modal-content">
                                                    <h2>Are you sure you want to delete your post?</h2>
                                                    <p>This action cannot be undone.</p>
                                                    <div class="modal-buttons">
                                                        <form action="{{ url_for('delete_post', post_id=post_id) }}" method="POST">
                                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                            <button class="confirm-delete" type="submit">Yes, Delete</button>
                                                        </form>
                                                        <button class="cancel-delete" id="post-close-modal-btn">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    {% endif %}
                                </div>
                                <div class="content-container">
                                    {{ post_data.content }}
                                </div>
                                {% if post_data.image %}
                                    <div class="image-container">
                                        <img src="{{ url_for('static', filename='uploads/' + post_data.image) }}" alt="Post Image" class="post-img">
                                    </div>
                                {% endif %}
                                <div class="hashtag-container">
                                    {% for hashtag in post_data.hashtags %}
                                        <a href="{{ url_for('hashtag_profile', hashtag_name=hashtag) }}">
                                            <span class="hashtag">#{{ hashtag }}</span>
                                        </a>
                                    {% endfor %}
                                </div>
                                <div class="vote-container">
                                    <a class="vote" id="{{ post_id }}">
                                        <i class="{{ 'fas' if liked_posts[post_id] else 'far' }} fa-thumbs-up" id="up"></i>
                                        <span id="sup">{{ post_data.upvotes }}</span>
                                    </a>
                                </div>
                                <div class="time-container">
                                    {{ post_data.timestamp }}
                                </div>
                            </div>
                        </div>

                        
                    {% endfor %}
                    <div class="post">
                        <a class='register-link' href="/post"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            {% endif %}
                    {% endif %}
                    
                </div>
            </div>