{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-10 col-sm-9 col-md-8 col-lg-7 col-xl-7 col-xxl-6">
        <div class="form-container">
            <div class="post-box">
                <h2 class = "register-title">Post</h2>
                <form action="" method="post" name="PostForm" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    
                    <div class="form-group">
                        <label for="username"></label>
                        {{ form.content(class="form-control", id="content", placeholder="Content") }}
                        {% if form.content.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.content.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
            
                    <div class="form-group">
                        <label for="password">Images/Videos (Leave blank for none):</label>
                        {{ form.image_or_video(class="form-control", id="image_or_video") }}
                        {% if form.image_or_video.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.image_or_video.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
            
                    <div class="form-group">
                        <label for="password"></label>
                        {{ form.hashtags(class="form-control", id="hashtags", placeholder="Hashtags") }}
                        {% if form.hashtags.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.hashtags.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
            
                    <input type="hidden" name="action" id="action-field">
            
                    <div class="button-container">
                        <button type="submit" class="login-button">Post</a></button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}
